@import "partials/reset";

@import "http://fonts.googleapis.com/css?family=Droid+Serif:400,700.css";

@import "partials/settings";

@import "partials/mixin";

html{
  font-family: $custom_font;
  font-size: $base; 
  background: #fff;

  @media #{$large-only}{
    background:$medium_light;
  }
}

body{
  max-width: $maxed_wdth;
  margin: auto;
  background: $light_color; 

  @media #{$large-only}{
    margin-top: 48px;
  }
}


h1{

  @include header_font( 0.5em, 1, $medium_light, 700);
  background: $medium_color;
  text-align: center;
  padding: 7px 0;
  text-transform: uppercase;
  letter-spacing: 2px;

  @media #{$medium-up}{
    @include header_font( 1em, 1, $medium_light, 700);
    background: $light_color;
    padding: 35px;
    border-bottom: 1px solid $medium_light;
    letter-spacing: 4px;
  }
}

h2{
    @include header_font( 2em, 1, $dark_color, 400);

  }

h3{
    @include header_font( 1em, 2, $medium_color, 400);
    padding-bottom: 31px;
}

a {
  color: $dark_color;
  text-decoration: none;

  h2 &, h3 & {
    text-decoration: none;
    border-bottom: 1px dashed $medium_light;
  }

}

.nav {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid $medium_light;

  & li {
     display: inline-block;
     padding: 0 10px;
  }

  @media #{$small-only}{
    display: none;
  }


}

.content{
  padding: 42px;

  & p {
    line-height: 1.743em;
  }

  @media #{$medium-up}{
    padding: 40px;
  }

  @media #{$large-only}{
    width: 60%;
    float: left;
    border-right: 1px solid $medium_light;
  }
}

aside {
  padding: 30px 40px;

  h4{
    @include header_font( 1.25em, 2, $medium_color, bold);
  }

  .read_more{
    display: block;
    background: $medium_color;
    padding: 20px;
    margin-top: 47px;
    text-align: center;
    color: $medium_light;
  }

  @media #{$small-only}{
   display: none;
  }

  @media #{$large-only}{
    width: 19.666%;
    float: right;
    padding: 15px 60px 15px 20px;
    line-height: 1.7;

    .read_more {
      padding: 10px 20px;
    }
  }
}

footer{
  border-top: 1px solid $medium_light;
  padding: 22px;

  & .right ul{
    text-align: center;
  }

  & .right li {
    padding:0 5px;
    display: inline-block;
  }
  
  @media #{$medium-down}{
    & .left {
      display: none;
    }
  }

  @media #{$large-only}{
    & .right {
      float: left;
    }
    & .left {
      float: right;
      padding-right: 20px;
    }
  }
}